body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #3d5e3d;
}

h1 {
  color: #80c595;
}

form {
  margin-bottom: 20px;
}

label {
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
}

input,
button {
  margin-top: 10px;
  display: block;
  background-color: #07073b;
  color: #ffffffaf;
  border: none;
}

#result {
  font-size: 24px;
  font-weight: bold;
  color: #c6e482;
  animation: fadeinout 3s infinite;
}

@keyframes fadeinout {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}